extends layout

block content
  div.container
                
   div.col-lg-12.col-md-12.col-xs-12
      div.row
         div.col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-xs-12(style="margin-top:2%;")
            i.fa.fa-users.fa-3#userNumber(style='color: whitesmoke;margin-right:5%;display:inline;font-size:20px;')
            i.fa.fa-child.fa-3#userNameText(style='color: whitesmoke;margin-right:5%;display:inline;font-size:20px;')=" : "
            i.fa.fa-times-circle.fa-3.pull-right.hidden#close(style='color: whitesmoke;margin-right:5%;display:inline;font-size:20px;')

            
         div.col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-xs-12.hidden.videoArea#videoArea
           video.col-lg-12.col-md-12.col-xs-12.hidden(autoplay)(style='height:100%; width:100%;')
           div.col-lg-12.col-md-12.col-xs-12(style='position:absolute; bottom:0; color:white;')
             i.fa.fa-th-large.fa-3
             i.fa.fa-square-o.fa-3.hidden 
             i.fa.fa-video-camera.fa-3.pull-right(style='margin-right : 20px;')
             
        div.col-lg-12.col-md-12.col-xs-12.hidden#chatArea
           div.col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-xs-12#chat
         div.col-md-8.col-lg-8.col-xs-12.col-md-offset-2.col-lg-offset-2#chatInput.hidden
            div.form-group
              div.input-group
                span.input-group-addon Chat
                input#chattext.form-control
            //-  label
            //-     input(type='checkbox')
            //-     ='Enable Video'
             
          
        div.col-lg-12.col-md-12.col-xs-12.text-center#title
          div.class-spacer-50
          h1.hidden-md.hidden-xs(style="font-size:150px; color:white;")= title
          h1.hidden-lg(style="font-size:100px; color:white;")= title
      //-   div.col-lg-3.col-md-3.col-xs-3.text-center
      //-     div.class-spacer-100
      //-     i.hidden-xs.fa.fa-phone.fa-6(style="font-size:155px; color:white;")
      
      div.col-lg-12.col-md-12.col-xs-12.text-center.hidden#alert
         h3#alert-text(style="color: white;")

      div.row.col-lg-12.col-md-12.col-xs-12#inputArea
         div.class-spacer-120
            div.col-lg-5.col-md-5.col-xs-12.col-lg-offset-3.col-md-offset-3
               div.form-group
                  div.input-group
                     span.input-group-addon= "Username"
                     input.form-control#username
                        
            //- 
            //-div.col-lg-4.col-md-4.col-xs-12
            //-    div.form-group
            //-       div.input-group
            //-          span.input-group-addon= "Room Name"
            //-          input.form-control#roomname
                        
            div.col-lg-3.col-md-3.col-xs-12
               div.form-group
                  div.input-group
                     button.btn.btn-default#submit= "Enter Chat"
                     //- 
      //- div.col-lg-12.col-md-12.col-xs-12.text-center(style="color:white;")
      //-             h3#userNumber= "Connections : "
                        
script(src='/socket.io/socket.io.js', type='text/javascript')
